<%= form_with(model: person) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <form class="card" style="width: 10%;">
    <div class="card-body">
      <div class="row">
        <div class="col mb-3">
          <%= form.label :name , :class=>"form-label"%>
          <%= form.text_field :name, :class=>"form-control" %>
        </div>

        <div class="col mb-3">
          <%= form.label :last_name , :class=>"form-label"%>
          <%= form.text_field :last_name , :class=>"form-control"%>
        </div>
      </div>
      <div class="row">
        <div class="col mb-3">
          <%= form.label :age , :class=>"form-label"%>
          <%= form.number_field :age , :class=>"form-control"%>
        </div>

        <div class="col mb-3">
          <%= form.label :country , :class=>"form-label" %>
          <%= form.text_field :country, :class=>"form-control" %>
        </div>
      </div>

      <div class="mb-3">
        <%= form.label :description , :class=>"form-label"%>
        <%= form.text_area :description , :class=>"form-control"%>
      </div>

        <%= form.submit :class=>"btn btn-success"%>
    </div>
  </form>
<% end %>
